*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    background-color: black;
}
.main-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
}
.password-generator{
    width:35%;
    height:90%;   
    background-color:#1F2937;
    padding: 35px;
    color:white;
}
.cta{
    color:#4ADF86;
    display:block;
    background-color: inherit;
}
.password-generator h1{
    width:300px;
    background-color: inherit;
    font-size:35px;
    font-weight:bold;
    margin-top:50px;
}
.password-generator p{
    background-color:inherit;
    margin:5px;
    font-size:18px;
    margin-bottom: 70px;;
    color:#D5D4D8;
}
.pass-btn{
    background-color: #10B981;
    color:white;
    padding:10px 20px;
    border-radius:5px;
    border:none;
    font-size:18px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    margin:5px;
    cursor:pointer;
}
.pass-btn:hover{
    background-color:#113f30 ;
}
.breaker{
    border-bottom:2px solid #2F3E53;
    margin:20px;
}
.pass{
    background-color: #2F3E53;
    width:500px;
    text-align: center;
    height:30px;
    padding:10px;
    border-radius:5px;;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    margin-bottom:15px;
    cursor:pointer;
    display:flex;
    text-align:center;
    justify-content: center;
    
}
.pass:hover{
    opacity:0.8;
}
.result-boxes{
    gap:15px;
    padding:0;
     margin:20px;
    background-color: inherit;
    display:flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    color:#55F991;
    width:90%;
  
}
.copy-message{
    color:white;
    font-size:15px;
    position:absolute;
    width:200px;
    text-align: center;
    border-radius:5px;
    bottom:180px;
    right:580px;
    padding:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
     display:block;
     opacity:0.9;
}
.copy{
    display:none;
}
.customize * {
    background-color: #1F2937;
}
 
